@import "../../utilities/functions";
@import "../../utilities/mixins";
@import "../../utilities/variables";


#inventoryPage {
    margin-bottom: 4%;

    #MaterilTableContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .MuiTableHead-root {
            .MuiTableRow-head {
                th {
                    text-align: left;

                    &:first-of-type{
                        text-align: center;
                    }

                    .material-icons {
                        position: absolute;
                        right: -25px;
                    }
                }
            }
        }

        .MuiTableBody-root{
            .MuiTableRow-root{    
                &[mode=delete] {
                    background-color: $firstLightColor;
                }
    
                .MuiTableCell-root {
                    text-align: left;
    
                    &:first-of-type{
                        width: 50px;
                    }

                    .MuiTextField-root {
                        float: left !important
                    }

                    .item-pic {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: rgb(218, 218, 218);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        transition: all 0.3s ease;
            
                        &:hover {
                            background-color: rgb(175, 175, 175);
            
                            i {
                                color: #fff;
                                opacity: 1;
                            }

                            .tooltiptext {
                                visibility: visible;
                            }
                        }
            
                        label {
                            margin: auto;
            
                            i {
                                font-size: 30px;
                                cursor: pointer;
                                color: #000;
                                opacity: 0.6;
                                transition: all 0.3s ease;
                            }
            
                            img {
                                background-color: #fff;
                                border-radius: 50%;
                                cursor: pointer;
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                                transform: translate(-49.7%, -49.7%);
            
                                &[src=""] {
                                    display: none;
                                }
                            }
                        }
            
                        input {
                            display: none
                        }

                        .tooltiptext {
                            visibility: hidden;
                            width: 90px;
                            background-color: grey;
                            color: #fff;
                            text-align: center;
                            border-radius: 4px;
                            padding: 5px 0;
                            font-size: 10px;
                          
                            /* Position the tooltip */
                            position: absolute;
                            z-index: 1;
                            top: 61px;
                            left: -10px
                        }
                        
                        
                    }
                }
            }
        }   
    }
}

